homeassistant:
  latitude: 52.356407
  longitude: 4.901339
  elevation: 6
  unit_system: metric
  time_zone: Europe/Amsterdam
  name: De Pijp WIP

http:
  server_host: 0.0.0.0
  server_port: {{ homeassistant_port }}
  cors_allowed_origins:
    - https://google.com
    - https://www.home-assistant.io
  login_attempts_threshold: 5

default_config:

lovelace:
  mode: yaml

tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

#logger:
#  default: info
#  logs:
#    # log level for remote integration
#    homeassistant.components.xiaomi_miio: debug
#    miio.device: debug

discovery:
  ignore:
    - yeelight

switch:
  - name: TV
    platform: rest
    resource: http://{{ shelly_plug_1 }}/relay/0
    scan_interval: 5
    body_on: 'turn=on'
    body_off: 'turn=off'
    {% raw %}
    is_on_template: '{{ value_json.ison }}'
    {% endraw %} 
    headers:
      content-Type: application/x-www-form-urlencoded

sensor:
  - name: TV
    platform: rest
    resource: http://{{ shelly_plug_1 }}/meter/0
    scan_interval: 30
    {% raw %}
    value_template: '{{ value_json.power }}'
    {% endraw %} 

yeelight:
  devices:
    {{ yeelight_bulb_ip_4 }}:
      name: Kitchen 1
    {{ yeelight_bulb_ip_3 }}:
      name: Kitchen 2
    {{ yeelight_bulb_ip_2 }}:
      name: Living Room
    {{ yeelight_bulb_ip_1 }}:
      name: Pallet Room
cast:
  media_player:
    - host: 192.168.2.1

remote:
  - platform: xiaomi_miio
    name: "den remote"
    host: '{{ xiaomi_remote_ip }}'
    token: '{{ xiaomi_remote_token }}'
    commands:
      switch_av_tv:
        command:
          - raw:mc0m8wlkxm81mEsmkyADIAdpjMwDDAQoAfJiAv4A/gT8Bf4MHgD+AP4KHgoeCh4A/gD+Ch4A+AkeAhwPXgD+CD4CHgk+DV4BCzCAAA==
