homeassistant:
  latitude: 52.356407
  longitude: 4.901339
  elevation: 6
  unit_system: metric
  time_zone: {{ my_timezone }}
  name: De Pijp WIP

http:
  server_host: 0.0.0.0
  server_port: {{ homeassistant_port }}
  cors_allowed_origins:
    - https://google.com
    - https://www.home-assistant.io
  login_attempts_threshold: 5

default_config:

lovelace:
  mode: yaml

tts:
  - platform: google_translate
    cache: true
    cache_dir: /tmp/tts
    time_memory: 300
    base_url: http://192.168.2.5:8123
    service_name: google_say

#  - platform: yandextts
#    api_key: 17888a45-a4ad-4751-91d8-7306177a02b7
#    language: 'ru-RU'
#    codec: mp3
#    voice: oksana
#    emotion: evil
#    speed: 2

sensor: !include sensors.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

#logger:
#  default: info
#  logs:
#    # log level for remote integration
#    homeassistant.components.xiaomi_miio: debug
#    miio.device: debug

mqtt:
  broker: localhost
  port: {{ mosquitto_port }}

switch:
  - name: TV
    platform: rest
    resource: http://{{ shelly_plug_1 }}/relay/0
    scan_interval: 5
    body_on: 'turn=on'
    body_off: 'turn=off'
    {% raw %}
    is_on_template: '{{ value_json.ison }}'
    {% endraw %} 
    headers:
      content-Type: application/x-www-form-urlencoded

discovery:
  ignore:
    - yeelight
    - igd
    - homekit

yeelight:
  devices:
    {{ yeelight_bulb_ip_4 }}:
      name: Kitchen 1
    {{ yeelight_bulb_ip_3 }}:
      name: Kitchen 2
    {{ yeelight_bulb_ip_2 }}:
      name: Living Room
    {{ yeelight_bulb_ip_1 }}:
      name: Pallet Room

light:
  - platform: group
    name: kitchen_lights
    entities:
      - light.kitchen_1
      - light.kitchen_2

cast:
  media_player:
    - host: 192.168.2.4

remote:
  - platform: xiaomi_miio
    name: "den remote"
    host: '{{ xiaomi_remote_ip }}'
    token: '{{ xiaomi_remote_token }}'
    commands:
      switch_av_tv:
        command:
          - raw:mc0m8wlkxm81mEsmkyADIAdpjMwDDAQoAfJiAv4A/gT8Bf4MHgD+AP4KHgoeCh4A/gD+Ch4A+AkeAhwPXgD+CD4CHgk+DV4BCzCAAA==
