homeassistant:
  #latitude: 52.356407
  #longitude: 4.901339
  #elevation: 6
  unit_system: metric
  time_zone: {{ my_timezone }}
  name: Transvaalbuurt WIP
  customize_glob: !include customize_glob.yaml

frontend:
  themes: !include_dir_merge_named themes

http:
  server_host: 0.0.0.0
  server_port: {{ homeassistant_port }}
  cors_allowed_origins:
    - https://google.com
    - https://www.home-assistant.io
  login_attempts_threshold: 5

default_config:

lovelace:
  mode: yaml
  resources:
    - url: /local/zigbee2mqtt-networkmap.js?v=0.6.0
      type: module

tts:
  - platform: google_translate
    cache: true
    cache_dir: /tmp/tts
    time_memory: 300
    base_url: http://{{ ansible_host }}:{{ homeassistant_port }}
    service_name: google_say

#  - platform: yandextts
#    api_key: 
#    language: 'ru-RU'
#    codec: mp3
#    voice: oksana
#    emotion: evil
#    speed: 2

sensor: !include sensors.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

#logger:
#  default: info
#  logs:
#    # log level for remote integration
#    homeassistant.components.xiaomi_miio: debug
#    miio.device: debug

mqtt:
  broker: localhost
  port: {{ mosquitto_port }}

input_boolean:
  zigbee_permit_join:
    name: Allow devices to join
    initial: off
    icon: mdi:cellphone-wireless

#timer:
#  zigbee_permit_join:
#    name: Time remaining
#    duration: 600

switch:
  - name: TV
    platform: rest
    resource: http://{{ shelly_plug_1 }}/relay/0
    scan_interval: 10
    body_on: 'turn=on'
    body_off: 'turn=off'
    {% raw %}
    is_on_template: '{{ value_json.ison }}'
    {% endraw %}
    headers:
      content-Type: application/x-www-form-urlencoded
  - name: light_bedroom
    platform: rest
    resource: http://{{ shelly_plug_2 }}/relay/0
    scan_interval: 10
    body_on: 'turn=on'
    body_off: 'turn=off'
    {% raw %}
    is_on_template: '{{ value_json.ison }}'
    {% endraw %}
    headers:
      content-Type: application/x-www-form-urlencoded

discovery:
  ignore:
    - yeelight
    - igd
    - homekit

yeelight:
  devices:
    {{ yeelight_bulb_ip_4 }}:
      name: Kitchen 1
    {{ yeelight_bulb_ip_3 }}:
      name: Kitchen 2
    {{ yeelight_bulb_ip_2 }}:
      name: Living Room
    {{ yeelight_bulb_ip_1 }}:
      name: Pallet Room

light:
  - platform: group
    name: kitchen_lights
    entities:
      - light.aqara_bulb_1
      - light.aqara_bulb_2
  - platform: group
    name: all
    entities:
      - light.kitchen_1
      - light.kitchen_2
      - light.aqara_bulb_1
      - light.aqara_bulb_2
      - light.pallet_room
      - light.living_room
  - platform: mqtt
    name: aqara_bulb_1
    state_topic: "zigbee2mqtt/aqara_bulb_1"
    availability_topic: "zigbee2mqtt/bridge/state"
    brightness: true
    color_temp: true
    schema: "json"
    command_topic: "zigbee2mqtt/aqara_bulb_1/set"
    brightness_scale: 254
  - platform: mqtt
    name: aqara_bulb_2
    state_topic: "zigbee2mqtt/aqara_bulb_2"
    availability_topic: "zigbee2mqtt/bridge/state"
    brightness: true
    color_temp: true
    schema: "json"
    command_topic: "zigbee2mqtt/aqara_bulb_2/set"
    brightness_scale: 254
#input_select:
#  cube_side:
#    name: 'Cube side'
#    options:
#      - zero
#      - one
#    initial: zero
#    icon: mdi:cube-outline


cast:
  media_player:
    - host: 192.168.2.4

#remote:
#  - platform: xiaomi_miio
#    name: 'den remote'
#    host: '{{ xiaomi_remote_ip }}'
#    token: '{{ xiaomi_remote_token }}'
#    commands:
#      switch_av_tv:
#        command:
#          - raw:mc0m8wlkxm81mEsmkyADIAdpjMwDDAQoAfJiAv4A/gT8Bf4MHgD+AP4KHgoeCh4A/gD+Ch4A+AkeAhwPXgD+CD4CHgk+DV4BCzCAAA==
