- name: TV
  platform: rest
  resource: http://{{ shelly_plug_1 }}/meter/0
  scan_interval: 60
  {%- raw %}
  value_template: '{{ value_json.power }}'
  {%- endraw %} 

- name: light_bedroom
  platform: rest
  resource: http://{{ shelly_plug_2 }}/meter/0
  scan_interval: 60
  {%- raw %}
  value_template: '{{ value_json.power }}'
  {%- endraw %} 

- name: temp_bedroom
  platform: mqtt
  state_topic: "zigbee2mqtt/temp_sensor_bedroom"
  {%- raw %}
  value_template: '{{ value_json.temperature }}'
  {% endraw -%} 
  unit_of_measurement: '°C'
  payload_available: "online"
  payload_not_available: "offline"

- name: temp_den
  platform: mqtt
  state_topic: "zigbee2mqtt/temp_sensor_den"
  {%- raw %}
  value_template: '{{ value_json.temperature }}'
  {%- endraw %} 
  unit_of_measurement: '°C'
  payload_available: "online"
  payload_not_available: "offline"

- name: humidity_den
  platform: mqtt
  state_topic: "zigbee2mqtt/temp_sensor_den"
  {%- raw %}
  value_template: '{{ value_json.humidity }}'
  {%- endraw %} 
  unit_of_measurement: '%'
  payload_available: "online"
  payload_not_available: "offline"

- name: humidity_bedroom
  platform: mqtt
  state_topic: "zigbee2mqtt/temp_sensor_bedroom"
  {%- raw %}
  value_template: '{{ value_json.humidity }}'
  {%- endraw %} 
  unit_of_measurement: '%'
  payload_available: "online"
  payload_not_available: "offline"

- name: temp_garden
  platform: mqtt
  state_topic: "zigbee2mqtt/temp_sensor_garden"
  {%- raw %}
  value_template: '{{ value_json.temperature }}'
  {%- endraw %} 
  unit_of_measurement: '°C'
  payload_available: "online"
  payload_not_available: "offline"

- name: humidity_garden
  platform: mqtt
  state_topic: "zigbee2mqtt/temp_sensor_garden"
  {%- raw %}
  value_template: '{{ value_json.humidity }}'
  {%- endraw %} 
  unit_of_measurement: '%'
  payload_available: "online"
  payload_not_available: "offline"

- name: motion_sensor_livingroom
  platform: mqtt
  state_topic: "zigbee2mqtt/motion_sensor_livingroom"
  {%- raw %}
  value_template: '{{ value_json.occupancy }}'
  {%- endraw %} 
  payload_available: "online"
  payload_not_available: "offline"

- name: light_sensor_livingroom
  platform: mqtt
  state_topic: "zigbee2mqtt/motion_sensor_livingroom"
  {%- raw %}
  value_template: '{{ value_json.illuminance }}'
  {%- endraw %} 
  payload_available: "online"
  payload_not_available: "offline"

- name: motion_sensor_kitchen
  platform: mqtt
  state_topic: "zigbee2mqtt/motion_sensor_kitchen"
  {%- raw %}
  value_template: '{{ value_json.occupancy }}'
  {%- endraw %} 
  payload_available: "online"
  payload_not_available: "offline"

- name: light_sensor_kitchen
  platform: mqtt
  state_topic: "zigbee2mqtt/motion_sensor_kitchen"
  {%- raw %}
  value_template: '{{ value_json.illuminance }}'
  {%- endraw %} 
  payload_available: "online"
  payload_not_available: "offline"

- name: motion_sensor_den
  platform: mqtt
  state_topic: "zigbee2mqtt/motion_sensor_den"
  {%- raw %}
  value_template: '{{ value_json.occupancy }}'
  {%- endraw %} 
  payload_available: "online"
  payload_not_available: "offline"

- name: light_sensor_den
  platform: mqtt
  state_topic: "zigbee2mqtt/motion_sensor_den"
  {%- raw %}
  value_template: '{{ value_json.illuminance }}'
  {%- endraw %} 
  payload_available: "online"
  payload_not_available: "offline"

- name: door_sensor_garden
  platform: mqtt
  state_topic: "zigbee2mqtt/door_sensor_garden"
  {%- raw %}
  value_template: '{{ value_json.contact }}'
  {%- endraw %} 
  payload_available: "online"
  payload_not_available: "offline"

- name: door_sensor_street
  platform: mqtt
  state_topic: "zigbee2mqtt/door_sensor_street"
  {%- raw %}
  value_template: '{{ value_json.contact }}'
  {%- endraw %} 
  payload_available: "online"
  payload_not_available: "offline"

- name: aqara_cube
  platform: mqtt
  state_topic: "zigbee2mqtt/cube_1"
  payload_available: "online"
  payload_not_available: "offline"

- name: aqara_cube_side
  platform: mqtt
  state_topic: "zigbee2mqtt/cube_1"
  {%- raw %}
  value_template: '{{ value_json.side }}'
  {%- endraw %} 
  payload_available: "online"
  payload_not_available: "offline"

- name: Bridge state
  platform: mqtt
  state_topic: "zigbee2mqtt/bridge/state"
  icon: mdi:router-wireless

- name: Zigbee2mqtt Networkmap
  platform: mqtt
  # if you change base_topic of Zigbee2mqtt, change state_topic accordingly
  state_topic: zigbee2mqtt/bridge/networkmap/raw
  value_template: >-
    {{ now().strftime('%Y-%m-%d %H:%M:%S') }}
  # again, if you change base_topic of Zigbee2mqtt, change json_attributes_topic accordingly
  json_attributes_topic: zigbee2mqtt/bridge/networkmap/raw

- name: ha_version
  platform: version

 # - name: Zigbee2mqtt Networkmap
 #   platform: mqtt
 #   # if you change base_topic of Zigbee2mqtt, change state_topic accordingly
 #   state_topic: zigbee2mqtt/bridge/networkmap/raw
 #   value_template: {%- raw %}{{ now().strftime('%Y-%m-%d %H:%M:%S') }}{% endraw -%} 
 #   # again, if you change base_topic of Zigbee2mqtt, change json_attributes_topic accordingly
 #   json_attributes_topic: zigbee2mqtt/bridge/networkmap/raw

# {"battery":100,"voltage":3095,"contact":false,"linkquality":44}
# {"battery":100,"voltage":3055,"illuminance":32,"illuminance_lux":32,"linkquality":15,"occupancy":false}
# {"battery":100,"voltage":3085,"temperature":22.55,"humidity":41.47,"pressure":1015,"linkquality":39}'
