# Inhibition rules allow to mute a set of alerts given that another alert is
# firing.
# We use this to mute any warning-level notifications if the same alert is
# already critical.
inhibit_rules:
- source_matchers:
    - severity="critical"
  target_matchers:
    - severity="warning"
  # Apply inhibition if the alertname is the same.
  # CAUTION: 
  #   If all label names listed in `equal` are missing 
  #   from both the source and target alerts,
  #   the inhibition rule will apply!
  equal: ['alertname']

route:
  receiver: 'pharl'
  group_by: ['...']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 12h
  routes:

receivers:
- name: 'pharl'
  webhook_configs:
  - send_resolved: True
    url: http://127.0.0.1:9087/alert/{{ telegram_chat_id }}
