global:
  scrape_interval: 1m
scrape_configs:
  - job_name: 'node'
    static_configs:
      - targets: [{% for host in groups['all'] %} '{{ hostvars[host].ansible_host }}:9100' {% if not loop.last %},{% endif %}{% endfor %}]
  - job_name: 'Prometheus'
    metrics_path: "/prometheus/metrics"
    static_configs:
      - targets: [ '{{ hostvars["rpi01"].ansible_host }}:{{ prometheus_port }}' ]
  - job_name: 'DTH22'
    static_configs:
      - targets: [ '{{ hostvars["rpi01"].ansible_host }}:{{ dht22_port }}' ]
  - job_name: 'openvpn'
    static_configs:
      - targets: [ '{{ hostvars["rpi01"].ansible_host }}:{{ openvpn_exporter_port }}' ]
  - job_name: 'mqtt'
    static_configs:
      - targets: [ '{{ hostvars["rpi01"].ansible_host }}:{{ mqtt2prometheus_port }}' ]
    metric_relabel_configs:
      - source_labels: [ __name__ ]
        regex: 'mqtt_occupancy|mqtt_illuminance_lux'
        action: drop
#    static_configs:
#      - targets: [ '{{ hostvars["rpi01"].ansible_host }}:{{ mosquitto_exporter_port }}' ]
